.bg-img {
    background-image: url("https://images.unsplash.com/photo-1581852549708-72910bd52cff?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.available-players {
    display: flex;
    justify-content: space-around;
    background-color: rgba(122, 21, 150, 0.7);
    color: whitesmoke;
}

.bg-color-main {
    background-color: rgba(122, 21, 150, 0.7);
    color: whitesmoke;
}